<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Predictor!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<div class="container">
    <div class="titleBar">
        <h1>FORMULA 1</h1>
        <p>RACE PREDICTOR</p>
    </div>
    <div class="flex-cont">
        <div id="left">
            <button class="pred-btn" onclick="fetchData()">PREDICT</button>
            <div id="current-cont">
                CURRENT GRAND PRIX
                <div id="circuit-img">
                    &nbsp;
                </div>
                <div id="circuit-name">
                    BAHRAIN
                </div>
            </div>
        </div>
        <div id="right">
            <table id="posTable">
                <th style="font-weight: 400"> <-- HIT PREDICT TO CONTINUE <--</th>
            </table>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>